<!--#app/views/order/dafdsprintprint.html.erb-->
<div style="displray: inline-block">
  <table class="QR" style="width:100%">
    <tr style="margin:30px">
      <td class="QR">

      </td>
      <td style="font-size:50px;padding:20px; text-align:center">
        <%=@order.name%><br>
        <%=@order.thing%>
      </td>
    </tr>
  </table>
</div>